 .login-container {
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    position: absolute;
    z-index: 1;
    display: grid;
    padding-left: 855px;
    padding-top: 200px;
  
  }
  
  
  .login-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 360px;
    text-align: center;
  }
  
  .login-icon img.logo {
    width: 50px;
    margin-bottom: 20px;
  }
  
  .login-text span {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-wrapper input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .input-icon {
    position: absolute;
    left: 10px;
    color: #888;
    font-size: 18px;
  }
  
  .login-pass-miss {
    margin-top: 15px;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
  }
  
  .login-button button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .login-button button:hover {
    background-color: #0056b3;
  }
  