
 td{
     border:none;
 }
 .overlay {
     position: fixed; 
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.5); 
     display: flex; 
     align-items: center; 
     justify-content: center; 
     z-index: 1000; 
   }
   
   
   .employee-type-insert {
     background: white; 
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
     width: 400px; 
   }
   
   
   .employee-type-title-insert {
     font-size: 18px;
     font-weight: bold;
     margin-bottom: 15px;
   }
   
   .employee-type-input-insert input {
     width: 100%; 
     padding: 10px;
     margin-bottom: 15px; 
     border: 1px solid #ccc; 
     border-radius: 4px; 
   }
   
   .employee-type-save button {
     margin-right: 10px; 
   }
  
 .overlay {
     position: fixed; 
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.5); 
     display: flex; 
     align-items: center; 
     justify-content: center; 
     z-index: 1000; 
 }
   .insert {
     background: white; 
     padding: 20px;
     border-radius: 8px; 
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
     width: 400px; 
   }
   
 
   .title-insert {
     font-size: 18px;
     font-weight: bold;
     margin-bottom: 15px;
   }
   
   .input-insert input {
     width: 100%; 
     padding: 10px;
     margin-bottom: 15px; 
     border: 1px solid #ccc; 
     border-radius: 4px;
   }
   
   .save button {
     margin-right: 10px; 
   }
   
 