
.health-insurance-table-contain{
    padding-top: 20px;
    display:grid ;
    flex-direction: column; 
}
.health-insurance-table-filter{
    margin-top: 20px;
    height:550px;
    overflow-y: auto;
}
.health-insurance-type-format{
    display: grid;
    grid-template-columns:0.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    gap:10px;
    padding:12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.health-insurance-format-title{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    gap:10px;
    padding:12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
.branch-format:hover{
    background-color: rgb(244,245,246);
}
td{
    border:none;
}
